<ion-content padding>
<ion-item *ngFor="let drive of drives">
    <ion-card>
      <div *ngIf = "drive.start_location == 'Paris'">
          <img src="../img/map1.png">
      </div>
      <div *ngIf = "drive.start_location == 'Plaisir'">
          <img src="../img/map2.png">
      </div>
      <ion-fab right top>
        <button ion-fab>
          <ion-icon name="pin"></ion-icon>
        </button>
      </ion-fab>

      <ion-item style="background-color: #FFFFFF">
        <ion-icon name="map" item-start></ion-icon>
        <h2>{{drive.start_date}}</h2>
        <p>{{drive.start_location}} - {{drive.end_location}}</p>
      </ion-item>
      <ion-item style="background-color: #FFFFFF" *ngFor="let incident of drive.incidents">
          <ion-item style="background-color: #FFFFFF">
            <ion-icon name="alert" item-left></ion-icon>
            <h2>{{incident.cause}}</h2>
            <p>Car reaction: {{ ((100 * incident.car_reaction_time / incident.driver_reaction_time) | number:'1.0-0')}}% faster</p>
            <p>{{incident.advice}}</p>
            
          </ion-item>
        </ion-item>
      <ion-item style="background-color: #FFFFFF">
        <span item-left>{{drive.distance}} km</span>
      </ion-item>
    </ion-card>
</ion-item>
</ion-content>